* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(20, 20, 20);
}

main {
    height: 100vh;
    width: 100vw;
    max-width: 750px;
    max-height: 950px;
    background: rgb(20, 20, 20) url("images/background.svg") no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

img {
    width: 60%;
    margin-top: 200px;
    margin: 140px;
}

input {
    min-height: 50px;
    width: 80%;
    max-width: 450px;
    border-radius: 10px;
    background-color: #140F26;
    opacity: 0.7;
    margin-bottom: 25px;
    color: white;
    font-size: 1em;
    padding: 0 20px;
}

button {
    min-height: 50px;
    width: 80%;
    max-width: 400px;
    border-radius: 30px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 60px;
}

button:active {
    transform: translateY(4px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

button#b-signIn {
    background-image: linear-gradient(314.33deg, #645AFF -3.69%, #A573FF 109.82%);
}

button#b-facebook {
    background-color: rgba(255, 255, 255, 0.1);
    background-blend-mode: overlay;
    backdrop-filter: blur(43.444px);
}

aside {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 80%;
    margin-top: 20px;
}

aside > a {
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    font-size: 0.7em;
    text-decoration: none;
}

aside > a:active {
    text-decoration: underline;
}